---
import MainLayout from "@layouts/MainLayout.astro"
import { getEntry } from 'astro:content';

const { data }  = await getEntry('pagedata', 'about');
const { name, image, bio, socialLinks } = data;

---

<MainLayout title={name}>
  <section class="absolute inset-0 z-0">
    <div class="container mx-auto h-screen px-4 flex justify-center items-center">
      <div class="mb-6 w-full lg:w-3/4 px-4">
        <div class="flex flex-wrap items-center bg-white rounded shadow overflow-hidden">
          <img class="w-full lg:w-1/3 h-80 object-cover" src={image} alt="">
          <div class="w-full lg:w-2/3 lg:pl-6 p-4">
            <h4 class="mb-2 text-2xl font-bold font-heading">{name}</h4>
            <p class="mb-4 text-gray-500 leading-loose">{bio}</p>
            <div class="flex">
              {socialLinks.map((link: { url: string, icon: string, platform: string }) => (
                <a href={link.url} class="mr-3">
                  <img src={link.icon} alt={link.platform} />
                </a>
              ) )}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
