---
import NavButton from "@components/NavButton.astro";
import Logo from "@components/Logo.astro";

const menuItems = [
  { title: "Home", link: "/" },
  { title: "About", link: "/about" },
  { title: "Blog", link: "/blog" },
  { title: "Strapi Blog", link: "/strapi-blog" },
]

const ctaLink = { title: "Learn More", link: "https://www.codingafterthirty.com" }

---
<section>
  <nav class="relative py-6 bg-white z-50">
    <div class="container mx-auto px-4 flex justify-between items-center">
      <a class="text-3xl font-bold leading-none" href="/">
        <Logo />
      </a>
      <div class="lg:hidden">
        <NavButton>
          <svg class="block h-4 w-4 fill-current" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </NavButton>
      </div>
      <ul class="hidden absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
        {menuItems.map((item) => <li><a class="text-sm text-gray-600 hover:text-gray-900" href={item.link}>{item.title}</a></li>)}
      </ul>
      <a class="hidden lg:inline-block py-2 px-6 bg-green-500 hover:bg-green-600 text-sm text-white font-bold rounded-l-xl rounded-t-xl transition duration-200" href={ctaLink.link} target="_blank">{ctaLink.title}</a>
    </div>
  </nav>
  <div class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-5/6 max-w-sm z-50">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav class="relative flex flex-col py-6 px-6 h-full w-full bg-white border-r overflow-y-auto">
      <div class="flex items-center mb-8">
        <a class="mr-auto text-3xl font-bold leading-none" href="#">
          <img class="h-10" src="logo/atis-mono-black.svg" alt="" width="auto">
        </a>
        <button class="navbar-close">
          <svg class="h-6 w-6 text-gray-400 cursor-pointer hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <div>
        <ul>
          {menuItems.map((item) => <li class="mb-1"><a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-green-50 hover:text-green-600 rounded" href={item.link} >{item.title}</a></li>)}
        </ul>
      </div>
      <div class="mt-auto">
        <div class="pt-6">
          <a class="block px-4 py-3 mb-2 leading-loose text-xs text-center text-white font-semibold bg-green-600 hover:bg-green-700 rounded-l-xl rounded-t-xl" href={ctaLink.link} target="_blank">{ctaLink.title}</a></div>
        <p class="my-4 text-xs text-center text-gray-400">
          <span>© {new Date().getFullYear()} All rights reserved.</span>
        </p>
      </div>
    </nav>
  </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Select elements
    const burger = document.querySelector<HTMLButtonElement>('.navbar-burger');
    const menu = document.querySelector<HTMLDivElement>('.navbar-menu');
    const backdrop = document.querySelector<HTMLDivElement>('.navbar-backdrop');
    const closeBtn = document.querySelector<HTMLButtonElement>('.navbar-close');
    const menuLinks = menu?.querySelectorAll<HTMLAnchorElement>('a');

    // Function to toggle the menu
    function toggleMenu(): void {
        menu?.classList.toggle('hidden');
    }

    // Show the menu when burger is clicked
    burger?.addEventListener('click', toggleMenu);

    // Hide the menu when close button is clicked
    closeBtn?.addEventListener('click', toggleMenu);

    // Hide the menu when backdrop is clicked
    backdrop?.addEventListener('click', toggleMenu);

    // Hide the menu when a menu link is clicked
    menuLinks?.forEach(link => {
        link.addEventListener('click', toggleMenu);
    });
});
</script>